version: "3.8"

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"     # main edge port
    environment:
      - SERVICES=s3
      - DEFAULT_REGION=us-east-1
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - "./localstack-config:/docker-entrypoint-initaws.d"
      - "./localstack-data:/tmp/localstack"


# version: "3.8"

# services:
#   app:
#     build: .
#     container_name: hospital_app
#     ports:
#       - "5000:5000"
#     environment:
#       - S3_ENDPOINT_URL=http://localstack:4566
#     depends_on:
#       - localstack
#     volumes:
#       - .:/app

#   localstack:
#     image: localstack/localstack:latest
#     container_name: localstack
#     ports:
#       - "4566:4566"     # main edge port
#       - "4571:4571"
#     environment:
#       - SERVICES=s3
#       - DEFAULT_REGION=us-east-1
#       - DATA_DIR=/tmp/localstack/data
#       - DEBUG=1
#     volumes:
#       - "./localstack-config:/docker-entrypoint-initaws.d"
#       - "./localstack-data:/tmp/localstack"
