pandas
numpy
matplotlib
seaborn
notebook
scikit-learn
xgboost
svm
lightgbm
imblearn
imbalanced-learn
category_encoders
optuna
joblib
flask
requests
black
boto3
flask
gunicorn
requests
localstack-client
shap

